@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1vw;
  // scroll-behavior: smooth;
  @media (max-width: 992px) {
    font-size: calc(100vw / 992 * 14);
  }
  @media (max-width: 768px) {
    font-size: calc(100vw / 768 * 14);
  }
  @media (max-width: 600px) {
    font-size: calc(100vw / 600 * 14);
  }
  @media (max-width: 480) {
    font-size: calc(100vw / 480 * 16);
  }
  @media (max-width: 375px) {
    font-size: calc(100vw / 375 * 14);
  }
}

:target {
  display: block;
  position: relative;
  // bottom: -10vh;
  // bottom: -100px;
}

$light-grey: rgba(255, 255, 255, 0.7);
$transition: all 0.3s ease;
$padding: 8.5rem;

body {
  background: #00040f;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  &.fixed {
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(92, 225, 230, 1);
    border-radius: 8px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background: transparent;
  outline: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.get-started {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: 4rem;
  white-space: nowrap;
  transition: $transition;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  border-radius: 10px;
  color: #00040e;
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 3rem;
  &:hover {
    border-radius: 60px;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.nav-header {
  position: sticky;
  z-index: 4;
  top: 0;
  transition: $transition;
  &-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem $padding;
    @media (max-width: 992px) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    @media (max-width: 768px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .logo {
      display: flex;
      align-items: center;
      z-index: 5;
      position: relative;
      transform: translate(38vw, 45vh);
      overflow: hidden;
      h4 {
        color: #ffffff;
        font-size: 1.125rem;
        font-weight: 600;
        transform: translateY(100px);
        span {
          color: rgba(92, 225, 230, 1);
        }
      }
      img {
        transform: translateY(100px);
      }
      @media (max-width: 375px) {
        transform: translate(30vw, 45vh);
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 3.5rem;
      list-style-type: none;
      opacity: 0;
      li {
        overflow: hidden;
      }
      a {
        color: #ffffff;
        text-decoration: none;
        transition: $transition;
        font-size: 1rem;
        z-index: 4;
        &:focus-within {
          color: #33bbcf;
        }
        &:hover {
          color: #33bbcf;
        }
      }
      @media (max-width: 700px) {
        display: none;
      }
    }

    .nav-btns {
      overflow: hidden;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      padding: 1rem 0;
      z-index: 4;
      opacity: 0;
      .close {
        transform: translateY(-100px);
        &-left {
          transform: rotate(45deg);
        }
        &-right {
          transform: rotate(-45deg);
          margin-top: -0.75rem;
          @media (max-width: 375px) {
            margin-top: -0.65rem;
          }
        }
      }
      .open {
        margin-top: -2.5rem;
      }
      @media (min-width: 701px) {
        display: none;
      }
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      span {
        display: block;
        width: 2rem;
        height: 2px;
        background: #ffffff;
        transition: $transition;
      }
    }
  }
  &.bg {
    background: rgba(0, 4, 15, 0.5);
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00040e;
  z-index: 3;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8rem;
  transform: translateX(100%);
  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  li {
    overflow: hidden;
    div {
      margin-bottom: 2rem;
      // transform: translateY(100%);
      padding: 0 3rem;
      a {
        font-size: 2.5rem;
        color: #ffffff;
        text-decoration: none;
        z-index: 4;
        transition: $transition;
        &:focus-within {
          color: #33bbcf;
        }
        &:hover {
          color: #33bbcf;
        }
      }
    }
  }
  @media (min-width: 701px) {
    display: none;
  }
}

.hero {
  // padding: 0 $padding;
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-left {
    padding-left: $padding;
    // margin-top: 2.375rem;
    &-discount {
      display: flex;
      align-items: center;
      gap: 1rem;
      white-space: nowrap;
      background: linear-gradient(-125.17deg, #272727 0%, #11101d 100%);
      border-radius: 10px;
      width: fit-content;
      padding: 0.375rem 0.625rem;
      height: 2.5rem;
      overflow: hidden;
      max-width: fit-content;
      h4 {
        color: $light-grey;
        font-size: 1.125rem;
        font-weight: 400;
        span {
          color: #ffffff;
        }
        @media (max-width: 375px) {
          font-size: 0.85rem;
        }
      }
    }
    &-text {
      margin-top: 1.5rem;
      position: relative;
      width: fit-content;
      h1 {
        color: #ffffff;
        font-size: 4.5rem;
        font-weight: 600;
        letter-spacing: 0.01em;
        line-height: 5.5rem;
        div {
          overflow: hidden;
          span {
            transform: translateY(100%);
            opacity: 0;
          }
        }
        .span {
          display: inline-block;
          background: radial-gradient(
            64.18% 64.18% at 71.16% 35.69%,
            #def9fa 0.89%,
            #bef3f5 17.23%,
            #9dedf0 42.04%,
            #7de7eb 55.12%,
            #5ce1e6 71.54%,
            #33bbcf 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
        .span-cover {
          margin-top: -0.5rem;
        }
        @media (max-width: 375px) {
          font-size: 3.5rem;
          line-height: 4.5rem;
        }
      }
      .btn-cover {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8.75rem;
        height: 8.75rem;
        border-radius: 50%;
        cursor: pointer;

        background: linear-gradient(
          157.81deg,
          #def9fa -43.27%,
          #bef3f5 -21.24%,
          #9dedf0 12.19%,
          #7de7eb 29.82%,
          #5ce1e6 51.94%,
          #33bbcf 90.29%
        );
        position: absolute;
        top: 1rem;
        right: 2rem;
        &-inner {
          background: #00040f;
          height: 95%;
          width: 95%;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        button {
          line-height: 0.7;
          div {
            display: flex;
            align-items: center;
            gap: 0.375rem;
            img {
              transition: $transition;
            }
          }
          span {
            font-size: 1.125rem;
            font-weight: 500;
            &:first-child {
              background: linear-gradient(
                157.81deg,
                #def9fa -43.27%,
                #bef3f5 -21.24%,
                #9dedf0 12.19%,
                #7de7eb 29.82%,
                #5ce1e6 51.94%,
                #33bbcf 90.29%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
            }
            &:last-child {
              color: rgba(92, 225, 230, 1);
            }
          }
        }
        &:hover {
          img {
            transform: rotate(90deg);
          }
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -10rem;
        background: #ffffff;
        filter: blur(225px);
        width: 100px;
        height: 300px;
        @media (max-width: 992px) {
          display: none;
        }
      }
    }
    &-info {
      margin-top: 2.5rem;
      p {
        color: $light-grey;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.9rem;
        max-width: 30.188rem;
      }
    }
    @media (max-width: 992px) {
      padding-left: 4rem;
      .btn-cover {
        margin-top: 1.5rem;
      }
    }
    @media (max-width: 768px) {
      padding-left: 2rem;
    }
    @media (max-width: 375px) {
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      padding-left: 0;
      p {
        padding: 0 2rem;
      }
      .btn-cover {
        display: none;
      }
      button {
        margin: 2rem auto 0;
        width: 90%;
        transform: translateY(100%);
        opacity: 0;
      }
    }
    @media (min-width: 375px) {
      .get-started {
        display: none;
      }
    }
  }
  &-right {
    &-top {
      position: relative;
      .vec-one {
        margin-left: 5rem;
        height: 6.25rem;
      }
      &-cards {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin-top: -5rem;
        img {
          &:first-child {
            position: relative;
            z-index: 3;
            width: 35rem;
          }
          &:nth-child(2) {
            position: absolute;
            bottom: -7rem;
            opacity: 0.7;
            width: 35rem;
          }
          &:last-child {
            position: absolute;
            bottom: -7rem;
            opacity: 0.5;
            width: 26rem;
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 4rem;
          left: 8rem;
          background: rgba(255, 255, 255, 0.6);
          filter: blur(175px);
          width: 322px;
          height: 100%;
          z-index: 2;
        }
      }
      .vec-two {
        position: absolute;
        bottom: -9rem;
        height: 2rem;
        left: 6rem;
      }
      .vec-three {
        position: absolute;
        bottom: -8rem;
        right: 10rem;
        height: 4.25rem;
      }
    }
    &-robot {
      margin-top: -6rem;
      img {
        width: 40rem;
      }
    }
  }
  &-stats {
    margin-top: 5rem;
    padding: 0 $padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      transform: translateY(100%);
      opacity: 0;
      h3 {
        color: #ffffff;
        font-size: 2.5rem;
        font-weight: 600;
      }
      h4 {
        font-size: 1.278rem;
        font-weight: 400;
        background: radial-gradient(
          64.18% 64.18% at 71.16% 35.69%,
          #def9fa 0.89%,
          #bef3f5 17.23%,
          #9dedf0 42.04%,
          #7de7eb 55.12%,
          #5ce1e6 71.54%,
          #33bbcf 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
    svg {
      transform: translateY(100%);
    }
    @media (max-width: 992px) {
      padding-left: 4rem;
      padding-right: 4rem;
      gap: 2rem;
      flex-wrap: wrap;
      svg {
        display: none;
      }
    }
    @media (max-width: 768px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  @media (max-width: 992px) {
    .hero-right {
      display: none;
    }
  }
}

.section {
  margin-top: 10.625rem;
  padding: 0 $padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.8rem;
    .char {
      // opacity: 0;
    }
    @media (max-width: 375px) {
      font-size: 1.875rem;
      line-height: 2.8rem;
    }
  }
  p {
    color: $light-grey;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.9rem;
    padding-top: 1rem;
  }
  @media (max-width: 992px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media (max-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: column;
    align-items: unset;
    gap: 4.5rem;
  }
}

.handle {
  &-left {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    p {
      max-width: 35.625rem;
      .word {
        opacity: 0;
      }
    }
    button {
      @extend .get-started;
    }
    h2 {
      .char {
        opacity: 0;
      }
    }
  }
  &-right {
    li {
      display: flex;
      gap: 1.25rem;
      padding: 1.25rem;
      border-radius: 20px;
      background: transparent;
      transform: translateY(100%);
      // margin-top: 5rem;
      &:hover {
        background: linear-gradient(
          144.39deg,
          #ffffff -278.56%,
          #6d6d6d -78.47%,
          #11101d 91.61%
        );
        backdrop-filter: blur(5px);
        box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
      }
      h4 {
        color: #ffffff;
        font-size: 1.125rem;
        font-weight: 600;
      }
      p {
        font-size: 1rem;
        padding-top: 0.25rem;
        line-height: 1.5rem;
        max-width: 22.875rem;
      }
      .icon {
        height: 64px;
        width: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        // background: rgba(9, 151, 124, 0.1);
        border-radius: 50%;
        animation: glow 1.2s infinite linear alternate;
        // transition: $transition;
      }
    }
  }
}

.billing {
  &-left {
    position: relative;

    & > img {
      display: block;
      &:first-child {
        margin-left: 14rem;
        height: 13.5rem;
        @media (max-width: 375px) {
          margin-left: 10rem;
        }
      }
      &:nth-child(2) {
        position: relative;
        margin-top: -6rem;
        z-index: -1;
        height: 17.5rem;
      }
    }
    div {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      background: #ffffff;
      box-shadow: 0px 10px 30px rgba(40, 48, 63, 0.25);
      border-radius: 10px;
      padding: 0.875rem 1.25rem;
      width: fit-content;
      position: absolute;
      right: 0;
      bottom: -1.5rem;
      img {
        margin-left: 0;
      }
      h5 {
        color: #080915;
        font-size: 0.875rem;
      }
    }
  }
  &-right {
    p {
      max-width: 29.375rem;
      .word {
        opacity: 0;
      }
    }
    h2 {
      .char {
        opacity: 0;
      }
    }
    &-stores {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-top: 3rem;
      transform: translateY(100%);
      img {
        height: 2.688rem;
      }
    }
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}

.card-deal {
  &-left {
    button {
      @extend .get-started;
    }
    h2 {
      .char {
        opacity: 0;
      }
    }
    p {
      max-width: 31.25rem;
      .word {
        opacity: 0;
      }
    }
    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }
  &-right {
    background-image: url(../assets/elipses.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    img {
      margin-top: 11rem;
      height: 25rem;
      @media (max-width: 375px) {
        height: 19rem;
      }
    }
  }
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.testimonial-intro {
  p {
    max-width: 28.125rem;
    margin-right: 6rem;
    .word {
      opacity: 0;
    }
  }
  h2 {
    .char {
      opacity: 0;
    }
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
      margin-right: 0;
      margin-top: -4.5rem;
    }
  }
}

.testimonials {
  margin-top: 5rem;
  padding: 0 $padding;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    padding: 3.75rem 2.5rem;
    height: 24.688rem;
    position: relative;
    border-radius: 20px;
    background: #00040e;
    transform: translateY(100%);
    &:hover {
      background: linear-gradient(
        144.39deg,
        #ffffff -278.56%,
        #6d6d6d -78.47%,
        #11101d 91.61%
      );
      backdrop-filter: blur(5px);
    }
    p {
      color: #ffffff;
      max-width: 18.125rem;
      font-size: 1.125rem;
      font-weight: 400;
      padding-top: 2.5rem;
    }
    .user {
      display: flex;
      align-items: center;
      gap: 1rem;
      position: absolute;
      bottom: 3.75rem;
      img {
        height: 3rem;
      }
      h4 {
        color: #ffffff;
        font-size: 1.25rem;
        font-weight: 400;
      }
      h5 {
        color: #ffffff;
        font-size: 1rem;
        opacity: 0.5;
        font-weight: 400;
      }
    }
  }
  @media (max-width: 992px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media (max-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
  }
}

.partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 6.5rem;
  padding: 0 11.5rem;
  li {
    opacity: 0;
  }
  @media (max-width: 992px) {
    padding-left: 4rem;
    padding-right: 4rem;
    gap: 1rem;
  }
  @media (max-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    gap: 4rem;
  }
}

.service {
  margin: 6.5rem $padding;
  padding: 4.5rem 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    -144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  // backdrop-filter: blur(5px);

  border-radius: 20px;
  button {
    @extend .get-started;
  }
  h2 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.8rem;
    .char {
      opacity: 0;
    }
    @media (max-width: 375px) {
      font-size: 1.875rem;
      line-height: 2.8rem;
    }
  }
  p {
    color: $light-grey;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.9rem;
    padding-top: 1rem;
    max-width: 27.813rem;
    .word {
      opacity: 0;
    }
  }
  @media (max-width: 992px) {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  @media (max-width: 768px) {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: column;
    .service-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}

.footer {
  margin-top: 5.125rem;
  background: rgba(11, 10, 12, 0.6);
  padding: 4.5rem $padding 1.875rem;
  &-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3f3e45;
    padding-bottom: 2.5rem;
    p {
      color: $light-grey;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.9rem;
      padding-top: 1rem;
      max-width: 19.5rem;
    }
    div {
      margin-top: 1rem;
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
      }
    }
    ul {
      li {
        margin-bottom: 0.75rem;
        a {
          color: $light-grey;
          font-size: 1rem;
          font-weight: 400;
          transition: $transition;
        }
        &:first-child {
          margin-bottom: 1.5rem;
          a {
            color: #ffffff;
            font-size: 1.125rem;
            font-weight: 500;
          }
          @media (max-width: 768px) {
            margin-bottom: 0.75rem;
            margin-top: 1.5rem;
          }
        }
        &:hover {
          a {
            color: #33bbcf;
          }
        }
      }
    }
  }
  &-bottom {
    padding-top: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left {
      display: flex;
      align-items: center;
      gap: 1rem;
      h4 {
        color: $light-grey;
        font-size: 1.125rem;
        font-weight: 400;
        white-space: nowrap;
        &:first-child {
          font-family: "Abel", sans-serif;
        }
        @media (max-width: 375px) {
          font-size: 1rem;
        }
      }
    }
    &-right {
      display: flex;
      align-items: center;
      gap: 1.875rem;
    }
  }
  @media (max-width: 992px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media (max-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
    .footer-top {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .footer-bottom {
      flex-direction: column-reverse;
      gap: 1.5rem;
    }
  }
}

.cursor {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #33bbcf;
  transform: translate(-50%, -50%);
  position: absolute;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
  mix-blend-mode: difference;
  z-index: 5;
  @media (max-width: 820px) {
    display: none;
  }
}

.preloader {
  background: #00040e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  &-inner {
    // display: flex;

    div {
      height: 2px;
      background: #ffffff;
      width: 0%;
      position: relative;
    }
    span {
      color: #ffffff;
      font-size: 1.5rem;
      font-style: italic;
      position: absolute;
      right: 0;
    }
  }
}

.word {
  overflow: hidden;
}

@keyframes glow {
  0% {
    background: rgba(9, 151, 124, 0.1);
  }
  100% {
    background: rgba(9, 151, 124, 0);
  }
}
